*~
*.pem
*.swp
\#*#

vgcore.*
!.git*

/.configure
/Makefile
/build
core
/run/bin
/run/data
/run/db
/run/logs
/run/manuals
/run/modules
/run/beryldb
/run/apparmor

/include/config.h
/include/constants.h
