#########################################################
#
# BerylDB configuration file
#

# Server #################################################
#
# name: Hostname of your server. Keep in mind that
#       this host does not need to resolve, however,
#	it should have a proper hostname format (example.server.com)
#
# network: Network name given to clients. If you have a cluster,
#	   the entire network must have the same value.
#

<server name="server1.beryl.dev" network="cluster">

# Listen ##################################################
#
# address: IP to listen to. You are allowed to leave this empty,
#	   the server will listen in all available ips if you do so.
#
# port: Port to set this listening tag to. Default Beryl's port is 6378
#
# type: Type of connection used.

<listen address="*" port="6378" type="clients">

# Settings ################################################
#
# maxclients: The maximum amount of concurrent clients this 
#	      server can handle. A typical BerylDB server
#	      can handle up to 5,000 concurrent connections.
#  	      Although we recommend to set this value to 2K.
#	      Default value for maxclients is 1500.

<settings maxclients="1500">

# Logging ################################################
#
# The 'log' tag defines all log streams where BerylDB will record
# log events to. You may change the tag below
# in order to change the default logging behavior.
# 
# There are different types of log that can be used. Keep in
# mind that modules can create their own logging methods too.
#
# Here is a list of log types:
#
# - STARTUP: Log events written when Beryl is initialized.
# - MODULE: Records module-related events.
# - DATABASE: Database-related logging events.
# - SOCKET: Socket pool events and errors.
# - EXIT: Records exiting events.
#
# You may also log everything by using the * wildcard.
# Log levels include:
#
# RAW, DEBUG, VERBOSE, DEFAULT, MISC, NONE.
#
# Note that it is also possible to record everything (*) and remove
# certain log types. For instance, you may use the type:
#
# type="* -STARTUP", which will log all events minus STARTUP ones.
#
# The following log tag is default and primitive. It is recommended you
# customize your own log tags. 

<log method="file" type="*" level="default" target="server.log">

# Paths ################################################
# 
# Paths to utilize.
# Paths to set include:
#
# dbdir: Default database directory. This is where Beryl writes keys to.
# datadir: Default data dir, which includes files such as pid.
# logdir: Log directory, this is where *.logs are written into.
# module: Where to load .dll modules from.
# configdir: Where to load configuration files from.

#<path dbdir="run/db" datadir="run/data" logdir="run/logs" module="run/modules" configdir="run/conf">

# Includes ################################################
#
# You can include your own files. You should place these
# including files in run/conf (unless you specify another path).

<include file="modules.conf">
<include file="databases.conf">

# Connections ################################################
#
# These tags define the rules of connections that are allowed
# to your server.
#
# name: Name for this connection block.
#
# allow: IP or hostname of that this client can use.
#        Keep in mind that Beryl does not resolve for dns.
#
# deny:  Hosts to deny access to.
#
# port: Ports allowed to use this class from.

<connect name="main" allow="*">

# End of beryldb.conf
##############################################################

